/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

/* RESET VALUES */
:root {
    font-size : 15px;
    font-family: 'Roboto', sans-serif;
    color : tomato;
}
html, body {
    height: 100%;
    margin: 0;
    padding : 0;
}

a { 
    color: inherit;
    text-decoration: none; 
    padding : 10px 20px;
} 

a:hover {
    background: white;
    color : #000;
}

ul{
    width : 100%;
    display : flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items : center;
}

li{
    list-style-type: none;
}

/* MAIN COVER SECTION */

#cover {
    height: 100vh;
    background :#000;
    font-family: 'Abel', sans-serif;
    color : #fff;
    overflow: hidden;
}

#top-bar{
    display: flex;
}

#name-top{
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    color : tomato;
}

#main-area{
    display: flex;
    flex-flow: row wrap;
    font-family: 'Anton', sans-serif;
    padding-top: 70px;
    padding-left : 120px;
}

#main-area-text{
    width: 50%;
}

#main-area-pic{
    width: 50%;
}

#main-area-text a:hover{
    background: tomato;
    color : inherit;
}

#main-text{
    font-size:5rem;
}

#main-paragraph{
    font-size:4rem;
}

img{
  height: 65%;
  display:block;
  margin:auto;
}

.btn {
    background-color: tomato; /* Green */
    border: none;
    color: white;
    padding: 18px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* PORTFOLIO */
.section{
    text-align: center;
    padding : 20px 0 50px 0;
}
.row{
    display : flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.item{
    border: 1px solid slategrey;;
    width : 20%;
    padding: 10px 0;
    color: slategrey;
}
 
.section-heading{
    font-size: 2rem;
}

.icon {
    font-size: 7rem;
}

/* PROTFOLIO */
#portfolio{
    background: #000;
    text-align: center;
    color: #fff;
}
#portfolio .row{
    display : flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

#portfolio .item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #fff;
    height: 200px;
    margin : 10px 0;
    font-size: 1.5rem;
    color: #fff;
}
 
.section-heading{
    font-size: 2rem;
}

.icon {
    font-size: 7rem;
}

.section img{
    width: 100%;
    height: 100%;
}

/* CONTACT */

#contact .icon {
    font-size: 2rem;
    color : slategray;
    margin: 0 20px;
}

#contact .icon-grp{   
    display : flex;
    flex-flow: wrap;
    justify-content: center;
}


/* media queries */
@media only screen and (max-width: 1200px){
    #main-paragraph{
        font-size:3rem;
    }
    #portfolio .item{
        height: 150px;
    }
}

@media only screen and (min-width: 616px) and (max-width: 910px){
    :root{
        font-size : 12px;
    }
    #portfolio .item{
        height: 100px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 616px){
    :root{
        font-size : 10px;
    }
    #main-area{
        padding-top: 70px;
        padding-left : 40px;
    }
    #portfolio .item{
        height: 100px;
    }
}

/* At mobile size remove image and stack section items */
@media only screen and (max-width: 480px){
    :root{
        font-size : 10px;
    }
    #main-area-pic{
        display: none;
    }
    #main-area{
        padding-left : 70px;
    }
    #main-area-text{
        padding-top: 70px;
        width: 100%;
    }
    #name-top{
        display: none;
    }
    .row{
        display : flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .item{
        width : 70%;
        padding: 10px 0;
        color: slategrey;
        margin-bottom: 10px;
    }
    #contact .icon {
        margin: 0 10px;
    }
}